@charset "UTF-8";
ul {
  list-style: none;
}
.row-block {
  background: red;
  margin-bottom: 20px;
}
.row-block.lesson-block {
  text-align: center;
}
.row-block .col-block {
  background: #eeeeee;
}
.form-block {
  /*.ht-300;*/
  background: #EFEFEF;
  margin-bottom: 20px;
}
.ht-50 {
  height: 50px;
}
.ht-100 {
  height: 100px;
}
.ht-120 {
  height: 120px;
}
.ht-150 {
  height: 150px;
}
.ht-180 {
  height: 180px;
}
.ht-200 {
  height: 200px;
}
.ht-250 {
  height: 250px;
}
.ht-300 {
  height: 300px;
}
.ht-350 {
  height: 350px;
}
.ht-400 {
  height: 400px;
}
.ht-500 {
  height: 500px;
}
.hide {
  display: none;
}
