@charset "UTF-8";
body {
  padding-top: 80px;
}
ul {
  list-style: none;
}
.row-block {
  /*background: red;*/
  margin-bottom: 20px;
}
.row-block.lesson-block {
  text-align: center;
}
.row-block .col-block {
  background: #eeeeee;
}
.row-block .btn-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-block {
  /*.ht-300;*/
  background: #EFEFEF;
  margin-bottom: 20px;
}
/*pre {
	margin: 15px auto;
	font: 12px/20px 'courier new';
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #ddd;
	border-left-width: 4px;
	background: #fbfbfb url(/images/codecolorer_bg.gif) top;
	padding: 10px 15px;
}*/
pre {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
pre code {
  border-radius: 4px;
  margin-top: -18px;
  margin-bottom: -36px;
}
.breadcrumb > li + li:before {
  color: #CCCCCC;
  content: "/ ";
  padding: 0 5px;
}
a.thumbnail:hover {
  text-decoration: none;
}
.ht-50 {
  height: 50px;
}
.ht-100 {
  height: 100px;
}
.ht-120 {
  height: 120px;
}
.ht-150 {
  height: 150px;
}
.ht-180 {
  height: 180px;
}
.ht-200 {
  height: 200px;
}
.ht-250 {
  height: 250px;
}
.ht-300 {
  height: 300px;
}
.ht-350 {
  height: 350px;
}
.ht-400 {
  height: 400px;
}
.ht-500 {
  height: 500px;
}
.hide {
  display: none;
}
table.reference,
table.tecspec {
  border-collapse: collapse;
  width: 100%;
}
table.reference tr:nth-child(odd) {
  background-color: #F6F4F0;
}
table.reference tr:nth-child(even) {
  background-color: #ffffff;
}
table.reference th {
  color: #ffffff;
  background-color: #555555;
  border: 1px solid #555555;
  font-size: 12px;
  padding: 3px;
  vertical-align: top;
  text-align: left;
}
table.reference td {
  border: 1px solid #d4d4d4;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  vertical-align: top;
}
